In [92]:
import geopandas as gpd
import pandas as pd
import os
from shapely.geometry import Polygon, LineString, MultiLineString, Point, GeometryCollection
pd.options.display.max_columns = 100
import pygeos

In [43]:
#Assigning Path
path_road = r'Z:\Masterfile\1. Shapefile\5. Road\1. All Road'
path_poi = r'Z:\Masterfile\1. Shapefile\4. POI'
path_zmp = r'Z:\000. Processing\REGION I\ZMP'

In [44]:
#Preparing and Reading Files
poi = gpd.read_file(os.path.join(path_poi, 'poi_priority.gpkg'))
road = gpd.read_file(os.path.join(path_road, 'Road_With_Characteristics.gpkg'))
zmp = gpd.read_file(os.path.join(path_zmp, 'ID_ZMP_MASTERFILE_REGION_I.shp'))

In [45]:
#Changing Prjection and creating road length
zmp = zmp.to_crs(epsg = 4326)
# road = road.to_crs(epsg = 32748)
# road['length'] = road.length
# road = road.to_crs(epsg = 4326)

In [46]:
# #Changing Projection
# zmp = zmp.to_crs(epsg = 4326)
# #Join zmp with road
# zmp_road = gpd.sjoin(road, zmp, how = 'right', predicate = 'intersects')
# #Creating rank
# zmp_road['rank'] = zmp_road.groupby(['ZMP_CODE'])['length'].rank(ascending = False)
# #Applying ZMP Category
# def zmp_cat(a):
#     if a=='>5 m':
#         return 'ZMP Commercial'
#     else:
#         return 'ZMP Non Commercial'
# zmp_road['zmp_category'] = zmp_road['Perkiraan Luas'].apply(lambda x: zmp_cat(x))
# zmp_road = zmp_road[['ZMP_CODE','zmp_category']]

# ZMP With POI Class

In [60]:
#Merging ZMP with POI
zmp_join = gpd.sjoin(poi, zmp, how = 'right', predicate='intersects')

In [67]:
#Filtering not joined and with class
zmp_poi = zmp_join[~zmp_join['POI_Class'].isnull()]
zmp_no_poi = zmp_join[zmp_join['POI_Class'].isnull()][['ZMP_CODE','ZMP_NAME']]
zmp_no = zmp.merge(zmp_no_poi, how = 'inner', on ='ZMP_CODE').rename(columns= {'ZMP_NAME_x':'ZMP_NAME'}).drop(columns = 'ZMP_NAME_y')

In [91]:
!pip install pygeos

Requirement already satisfied: pygeos in c:\users\user\anaconda3\envs\geo_env\lib\site-packages (0.14)
Requirement already satisfied: numpy>=1.13 in c:\users\user\anaconda3\envs\geo_env\lib\site-packages (from pygeos) (1.23.3)

In [93]:
#Join Nearest no poi zmp with poi
zmp_no.to_crs(epsg = 32748, inplace = True)
poi.to_crs(epsg = 32748, inplace = True)
zmp_no_join = gpd.sjoin_nearest(poi, zmp_no, how = 'right')
zmp_no_join.head()

NotImplementedError: Currently, only PyGEOS >= 0.10.0 supports `nearest_all`. To use PyGEOS within GeoPandas, you need to install PyGEOS: 'conda install pygeos' or 'pip install pygeos'

In [48]:
# Create ZMP Summary with POI Class
zmp_dissolve = zmp_join.pivot_table(index = 'ZMP_CODE', values = 'Sub_Class', columns='POI_Class', aggfunc='count').reset_index().fillna(0)
zmp_dissolve

POI_Class,ZMP_CODE,CVS,Gov,Health Center,Religion,School,Transportation
0,3171010_005,1.0,0.0,1.0,0.0,1.0,0.0
1,3171010_008,0.0,1.0,0.0,1.0,0.0,0.0
2,3171010_010,1.0,0.0,0.0,0.0,0.0,0.0
3,3171010_012,0.0,0.0,1.0,0.0,0.0,0.0
4,3171010_017,1.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...
3548,3674070_014,0.0,0.0,1.0,0.0,0.0,0.0
3549,3674070_015,0.0,0.0,0.0,0.0,1.0,0.0
3550,3674070_016,0.0,0.0,0.0,0.0,1.0,0.0
3551,3674070_018,0.0,1.0,0.0,0.0,0.0,0.0
3552,3674070_021,0.0,2.0,4.0,1.0,0.0,1.0

In [49]:
#Define zmp category function
def category(a):
    if a['Religion'] >=1:
        return 'Residential'
    elif a['School']>=1:
        return 'School'
    elif a['CVS']>=1:
        return 'Commercial'
    elif a['Gov']>=1:
        return 'Goverment'
    elif a['Health Center']>=1:
        return 'Health Center'
    elif a['Transportation']>=1:
        return 'Transportation'
    else:
        return 'Commercial'

In [50]:
zmp_dissolve['zmp_category'] = zmp_dissolve[['CVS', 'Gov', 'Health Center', 'Religion', 'School',
       'Transportation']].apply(lambda x: category(x), axis = 1)

In [51]:
zmp

,OBJECTID_1,OBJECTID_2,OBJECTID,CEN_LNG,CEN_LAT,GOOGLE_MAP,PROVINCE,KECAMATAN,CITY,ZMP_CODE,ZMP_NAME,zmp_area_s,adjusted_m,prioritize,app_area_n,app_area_i,landmark,Score_UID,Score_Spen,Score_Visi,Score_Velo,delta_time,count_uid,average_sp,total_velo,total_visi,average_ve,average_vi,av_visit_1,score_vi_1,POI_Gov,POI_CVS,POI_Transp,POI_School,POI_Market,POI_Religi,POI_Eatery,POI_Health,Score_POI,Population,Regional_I,City_Type,Score_City,Editor_PIC,layer,path,Source,Shape_Leng,Shape_Le_1,Shape_Area,geometry
0,1,0,0.0,106.881730,-6.903021,None,Jawa Barat,Cisaat,Sukabumi,3202200_003,RS Betha Medika Cisaat,"17818,6831063764",0,1,RS Betha Medika Cisaat,Toko atau warung berada di sekitar RS Betha Me...,Sukabumi - RS Betha Medika Cisaat,0.19078947368421054,0.125,0.05921052631578947,0.6578947368421053,2057.5,5031,906.2030303030303,inf,688,inf,0.2964436043699742,1.296414473684211,0.1513157894736842,None,None,None,None,None,None,None,None,None,None,None,None,None,Prigel Priyo,None,None,None,0.0,716.364524,17818.683106,"POLYGON ((106.88092 -6.90365, 106.88074 -6.903..."
1,2,0,0.0,106.883398,-6.902304,None,Jawa Barat,Cisaat,Sukabumi,3202200_004,Pasar Ikan Cibaraja Cisaat,"41972,8464055581",0,1,Pasar Ikan Cibaraja Cisaat,Toko atau warung berada di sekitar Pasar Ikan ...,Sukabumi - Pasar Ikan Cibaraja Cisaat,0.19078947368421054,0.125,0.05921052631578947,0.6578947368421053,2057.5,5031,906.2030303030303,inf,688,inf,0.2964436043699742,1.296414473684211,0.1513157894736842,None,None,None,None,None,None,None,None,None,None,None,None,None,Prigel Priyo,None,None,None,0.0,1512.324271,41972.846406,"POLYGON ((106.88182 -6.90078, 106.88182 -6.900..."
2,3,0,0.0,106.890541,-6.908706,None,Jawa Barat,Cisaat,Sukabumi,3202200_009,Alun-Alun Cisaat,"19005,7148107449",0,1,Alun-Alun Cisaat,Toko atau warung berada di sekitar Alun-Alun C...,Sukabumi - Alun-Alun Cisaat,0.2125,0.11875,0.09375,0.7375,4940.791666666667,5450,2988.6038690476184,inf,449,inf,0.24737938480527064,1.2473875000000003,0.15,None,None,None,None,None,None,None,None,None,None,None,None,None,Prigel Priyo,None,None,None,0.0,676.550668,19005.714811,"POLYGON ((106.89062 -6.90796, 106.89062 -6.908..."
3,4,0,0.0,106.876837,-6.904881,None,Jawa Barat,Cisaat,Sukabumi,3202200_002,Universitas Nusa Putra Cisaat,"62564,4673176194",0,1,Universitas Nusa Putra Cisaat,Toko atau warung berada di sekitar Universitas...,Sukabumi - Universitas Nusa Putra Cisaat,0.07635009310986965,0.1452513966480447,0.10800744878957169,0.8435754189944135,6138.734042553191,10246,4592.154381965552,inf,1302,inf,0.29947626645138276,1.2994674115456237,0.15828677839851024,None,None,None,None,None,None,None,None,None,None,None,None,None,Prigel Priyo,None,None,None,0.0,2188.896109,62564.467318,"POLYGON ((106.88020 -6.90347, 106.88020 -6.903..."
4,5,0,0.0,106.867146,-6.905189,None,Jawa Barat,Cisaat,Sukabumi,3202200_001,Dinas Penanaman Modal PTSP Cisaat,"60981,1442188195",0,1,Dinas Penanaman Modal PTSP Cisaat,Toko atau warung berada di sekitar Dinas Penan...,Sukabumi - Dinas Penanaman Modal PTSP Cisaat,0.18232044198895028,0.07734806629834254,0.058931860036832415,0.7716390423572744,4163.1551724137935,19536,2909.211206896551,inf,2043,inf,0.24061741869698186,1.2406022099447522,0.1270718232044199,None,None,None,None,None,None,None,None,None,None,None,None,None,Prigel Priyo,None,None,None,0.0,2427.713420,60981.144219,"POLYGON ((106.86331 -6.90419, 106.86331 -6.904..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8841,8843,597,921.0,107.033091,-6.735843,None,Jawa Barat,Cipanas,Cianjur,3203221_004,Jl. Kayumanis Cipanas,"112394,097489042",0,1,Jl. Kayumanis Cipanas,Toko atau warung berada di sekitar Jalan Kayum...,Cianjur - Jl. Kayumanis Cipanas,0.017735334242837655,0.4747612551159618,0.4679399727148704,0.9699863574351978,2025.0993071593534,4991,1234.1465642068988,inf,1479,inf,0.6449514537310204,1.6449549795361516,0.5716234652114598,None,None,None,None,None,None,None,None,None,None,None,None,None,Fadhil Wafi,None,None,None,0.0,2764.851051,112394.097489,"POLYGON ((107.03694 -6.73350, 107.03694 -6.733..."
8842,8844,598,922.0,107.034972,-6.732858,None,Jawa Barat,Cipanas,Cianjur,3203221_005,Jl. Pahlawan Cipanas,"156146,468701764",0,1,Jl. Pahlawan Cipanas,Toko atau warung berada di sekitar Jalan Pahla...,Cianjur - Jl. Pahlawan Cipanas,0.047113163972286376,0.3944572748267898,0.41893764434180136,0.9399538106235565,2073.789198606272,23076,1156.2879735248753,inf,9049,inf,0.6671148365662732,1.6671163972286365,0.6166281755196305,None,None,None,None,None,None,None,None,None,None,None,None,None,Fadhil Wafi,None,None,None,0.0,3165.542747,156146.468702,"POLYGON ((107.04055 -6.73114, 107.04073 -6.731..."
8843,8845,0,0.0,107.040973,-6.730220,None,Jawa Barat,Cipanas,Cianjur,3203221_020,Pasar Cipanas,"17824,5659187721",0,1,Pasar Cipanas,Toko atau warung berada di sekitar Pasar Cipanas,Cianjur - Pasar Cipanas,0.047113163972286376,0.3944572748267898,0.41893764434180136,0.9399538106235565,2073.789198606272,23076,1156.2879735248753,inf,9049,inf,0.6671148365662732,1.6671163972286365,0.6166281755196305,None,None,None,None,None,None,None,None,None,None,None,None,None,Safira Nur Aisyah,None,None,None,0.0,915.506115,17824.565919,"POLYGON ((107.04070 -6.72892, 107.04070 -6.729..."
8844,8846,599,927.0,107.042852,-6.726748,None,Jawa Barat,Cipanas,Cianjur,3203221_010,Jl. Belakang Cipanas,"82285,6176934909",0,1,Jl. Belakang Cipanas,Toko atau warung berada di sekitar Jalan Belak...,Cianjur - Jl. Belakang Cipanas,0.0711743772241993,0.38281647178444334,0.34519572953736655,0.9395017793594306,2551.938232161874,27442,1289.9836657828787,inf,12281,inf,0.6614600278385422,1.6614707676664966,0.6232841891204881,None,None,None,None,None,None,None,None,None,None,None,None,None,Fadhil Wafi,None,None,None,0.0,2083.620131,82285.617693,"POLYGON ((107.04540 -6.72497, 107.04540 -6.725..."
8845,8847,600,928.0,107.027433,-6.729633,None,Jawa Barat,Cipanas,Cianjur,3203221_011,Jl. Agropolitan Cipanas,"270152,805833804",0,1,Jl. Agropolitan Cipanas,Toko atau warung berada di sekitar Jalan Agrop...,Cianjur - Jl. Agropolitan Cipanas,0,0.4750593824228028,0.4477434679334917,0.9881235154394299,2323.696390658174,4095,1539.7135800269564,inf,1744,inf,0.6401072621253242,1.6401163895486952,0.5439429928741093,None,None,None,None,None,None,None,None,None,None,None,None,None,Fadhil Wafi,None,None,None,0.0,5048.908519,270152.805834,"POLYGON ((107.03292 -6.72339, 107.03292 -6.723..."

In [52]:
zmp_dissolve.head()

POI_Class,ZMP_CODE,CVS,Gov,Health Center,Religion,School,Transportation,zmp_category
0,3171010_005,1.0,0.0,1.0,0.0,1.0,0.0,School
1,3171010_008,0.0,1.0,0.0,1.0,0.0,0.0,Residential
2,3171010_010,1.0,0.0,0.0,0.0,0.0,0.0,Commercial
3,3171010_012,0.0,0.0,1.0,0.0,0.0,0.0,Health Center
4,3171010_017,1.0,0.0,0.0,0.0,0.0,0.0,Commercial

In [53]:
zmp_dissolve[zmp_dissolve.zmp_category.isnull()]

Empty DataFrame
Columns: [ZMP_CODE, CVS, Gov, Health Center, Religion, School, Transportation, zmp_category]
Index: []

In [54]:
#Finalizing ZMP
zmp_final = zmp.merge(zmp_dissolve, how ='left', on = 'ZMP_CODE')
zmp_final = zmp_final[['PROVINCE', 'KECAMATAN', 'CITY', 'ZMP_CODE', 'ZMP_NAME','zmp_category','geometry']]
zmp_final = zmp_final.fillna('Commercial')
zmp_final.to_file(r'Z:\Masterfile\1. Shapefile\8. ZMP\zmp_masterfile.gpkg')